body {
	margin: 0;
	min-height: 100vh;
	height: 100vh;

	display: flex;
	flex-direction: column;

	user-select: none;
	cursor: default;
}

.tool-bar {
	height: 2em;
}

.tool-item {
	background-color: #35a0e0;
}

.ui-label {
	float: left;
	position: relative;
	top: 0.5em;
	left: 0.5em;
	background-color: #6595ee;
}

.ui-button {
	float: right;
	position: relative;
	top: 0.5em;
	right: 0.5em;
	background-color: #60be2f;
}

.node {
	position: absolute;
	background-color: #9136f7;
	display: flex;
	flex-direction: column;
	padding: 0.75em;
	border-radius: 0.75em;
	border: 3px solid black;
	box-shadow: 4px 4px black;
	font-family: monospace;
	max-width: 24em;
}

.node-bus {
	width: 100%;
	display: flex;
	flex-direction: row;
}

.bus-in-wrapper {
	display: flex;
	flex-direction: column;
	width: 50%;
}

.bus-out-wrapper {
	display: flex;
	flex-direction: column;
	width: 50%;
}

.bus-in-wrapper > .bus {
	width: 100%;
	text-align: left;
}

.bus-out-wrapper > .bus {
	width: 100%;
	text-align: right;
}

.node-control {
	display: inline;
}

.title {
	min-width: 100%;
}

.wrapper{
	display: inline-flex;
	flex-direction: column;
	width: 5em;
	height: 5em;
	margin: 0.5em;
}

.label {
	text-align: center;
}

.number-input {
	background-color: inherit;
	color: inherit;
	border: 0;
	width: 100%;
}

#top-bar {
	background-color: #a86d71;
}

#ui-container {
	flex: 1;
	display: flex;
}

/*Tool Panel*/
#tool-panel {
	width: 13em;
	background-color: #41d04b;
}

#tool-head {
	background-color: #f7c01c;
}

#node-view {
	position: relative;
	overflow: hidden;
	flex: 1;
	background-attachment: local;
}

#background-grid {
	position: absolute;
	top: -40000vh;
	left: -40000vh;

	width: 80000vh;
	height: 80000vh;

	background-color: #fffff1;
	--grid-color: #9fbbf2;
	background-image: repeating-linear-gradient( /*Large horizontal lines*/
		var(--grid-color),
		var(--grid-color) 2px,
		rgba(0, 0, 0, 0) 2px,
		rgba(0, 0, 0, 0) 80px
	), repeating-linear-gradient( /*Large verticle lines*/
		90deg,
		var(--grid-color),
		var(--grid-color) 2px,
		rgba(0, 0, 0, 0) 2px,
		rgba(0, 0, 0, 0) 80px
	), repeating-linear-gradient( /*Small horizontal lines*/
		var(--grid-color),
		var(--grid-color) 1px,
		rgba(0, 0, 0, 0) 1px,
		rgba(0, 0, 0, 0) 20px
	), repeating-linear-gradient( /*Small verticle lines*/
		90deg,
		var(--grid-color),
		var(--grid-color) 1px,
		rgba(0, 0, 0, 0) 1px,
		rgba(0, 0, 0, 0) 20px
	);

}

#keyboard-container {
	position: fixed;

	bottom: 0;
	left: 50%;
	transform: translateX(-50%);

	min-width: 30em;
	width: 70%;
}

#keyboard-bar {
	background-color: #d840fc;
}

#keyboard {
	min-height: 8em;
	background-color: #8ebd9e;
}
