body {
	margin: 0;
	min-height: 100vh;
	height: 100vh;

	display: flex;
	flex-direction: column;
}

.tool-bar {
	height: 2em;
}

.ui-label {
	float: left;
	position: relative;
	top: 0.5em;
	left: 0.5em;
	background-color: #6595ee;
}

.ui-button {
	float: right;
	position: relative;
	top: 0.5em;
	right: 0.5em;
	background-color: #60be2f;
}

#top-bar {
	background-color: #a86d71;
}

#ui-container {
	flex: 1;
	display: flex;
}

#tool-panel {
	width: 13em;
	background-color: #41d04b;
}

#node-view {
	flex: 1;
	background-color: #7842eb;
}

#keyboard-container {
	position: fixed;

	bottom: 0;
	left: 50%;
	transform: translateX(-50%);

	min-width: 30em;
	width: 70%;
}

#keyboard-bar {
	background-color: #d840fc;
}

#keyboard {
	min-height: 8em;
	background-color: #8ebd9e;
}
